<div class="panel panel-primary">
	<div class="panel-heading">
		Cadastrar novo produto
	</div>
	<div class="panel-body">
		<form class="form">
			<div class="form-group">
				<label for="inputNomeProduto">Nome do produto:</label>
				<input type="text" class="form-control" ng-model="produto.nome">
			</div>
			<div class="form-group">
				<label for="inputPrecoProduto">Preço do produto:</label>
				<input class="form-control" ng-model="produto.preco">
			</div>
			<button class="btn btn-primary" ng-click="cadastrarProduto()">Cadastrar</button>
		</form>
	</div>
</div>