<div class="page-header">
	<h1>
		Pedidos
	</h1>	
</div>

<!-- Tabela com os produtos ja cadastrados -->
<div class="row" style="margin-top: 30px">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-1">#</th>
				<th class="col-md-5">Realizado em</th>
				<th class="col-md-3">Total</th>
				<th class="col-md-3">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pedido in pedidos">
				<td>{{pedido.id}}</td>
				<td>{{pedido.data | date:'dd/MM/yyyy HH:mm'}}</td>
				<td>{{pedido.total | currency:"R$ "}}</td>				
				<td>
					<a class="btn btn-primary" ui-sref="pedidoNovo({id: pedido.id})">Detalhes</a>
					<a class="btn btn-default" ng-click="deletarPedido($index)"><span class="glyphicon glyphicon-remove"></span> Deletar</a>					
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- Fim da tabela -->