<div class="page-header">
	<h1>
		{{pedido.id ? "Pedido #" + pedido.id : "Novo Pedido"}}
	</h1>	
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<button class="btn btn-primary" data-toggle="modal" data-target="#addItem" ng-disabled="pedido.id"><span class="glyphicon glyphicon-plus"></span> Adicionar Produto</button>
	</div>
	<div class="panel-body">
	
		<!-- Tabela com os produtos adicionados ao pedido -->
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>						
						<th class="col-md-2">Ações</th>
						<th class="col-md-4">Nome</th>
						<th class="col-md-1">Quantidade</th>
						<th class="col-md-2">Preço Unitário</th>						
						<th class="col-md-3">Subtotal</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in pedido.itens">
						<td>
							<div ng-if="!pedido.id"> <!-- Exibe as acoes somente se for um novo pedido -->					
								<a class="btn btn-default" ng-click="editarItem($index)" 
									data-toggle="modal" data-target="#addItem"><span class="glyphicon glyphicon-pencil"></span></a>
								<a class="btn btn-default" ng-click="removerItem($index)"><span class="glyphicon glyphicon-minus"></span></a>
							</div>					
						</td>						
						<td>{{item.nome}}</td>
						<td>{{item.quantidade}}</td>
						<td>{{item.preco | currency:"R$ "}}</td>
						<td>{{calcularSubtotal(item) | currency:"R$ "}}</td>	
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Fim da tabela -->
		
		<!-- Cálculo do total do pedido -->
		<div class="row">
			<div class="col-md-3">
				<div class="well">
					<span style="font-size: 20px">Total do pedido:</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="well">
					<span style="font-size: 20px; font-weight: bold;">{{calcularTotal() | currency:"R$ "}}</span>
				</div>
			</div>
		</div>
		<!-- Fim do cálculo -->
		
		<!-- Form sobre nota fiscal e dados do cliente -->
		<form>
			<div class="checkbox">
				<label> <input type="checkbox" ng-model="pedido.notaFiscal"> Emitir nota fiscal no escritório
				</label>
			</div>
			<p style="font-style: italic; margin-bottom: 20px">				
				Utilize essa opção caso não possua tempo para emitir diretamente na loja. Informe os dados do cliente na observação e o escritório 
				receberá automaticamente uma notificação por e-mail com a solicitação.
			</p>
			<div class="form-group">
				<label for="inputObservacao">Observações adicionais</label>
				<textarea class="form-control" rows="10" 
					placeholder="Escreva aqui observações sobre o pedido. Como por exemplo '2 volumes', 'Emitir nota até às 13h, porque precisa levar no ônibus'"
					ng-model="pedido.observacao"></textarea>
			</div>
		</form>
		<!-- Fim do form -->
		
	</div>
	<div class="panel-footer">
		<p class="text-center">
			<button class="btn btn-default btn-lg" 
				ng-disabled="pedido.itens.length == 0" 
				ng-click="finalizarPedido()">{{pedido.id ? "Alterar Pedido" : "Finalizar Pedido"}}
			</button>
		</p>		
	</div>
</div>

<!-- Modal para adicionar um item ao pedido -->
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelbody="addItemLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="addItemLabel">Novo Item</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="selectProduto">Produto</label>
						<select id="selectProduto" class="form-control" ng-model="novoItem.index">
							<option ng-repeat="produto in produtos" value="{{$index}}">{{produto.nome}} de {{produto.preco | currency:"R$ "}}</option>
						</select>						
					</div>
					<div class="form-group">
						<label for="inputQuantidade">Quantidade</label>
						<input type="number" class="form-control" ng-model="novoItem.quantidade" min="0">						
					</div>
				</form>
			</div>
			<div class="modal-footer">				
				<button class="btn btn-primary" style="margin-right: 10px" 
					ng-disabled="!novoItem.index || !novoItem.quantidade" 
					ng-click="addItem()"><span class="glyphicon glyphicon-ok"></span> Adicionar
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Fim do modal -->