<div class="page-header">
	<h1>
		Pedidos <span class="badge">{{pedidos.length}}</span>
		<button class="btn btn-link" ui-sref="pedidoNovo({id: 0})"><span class="glyphicon glyphicon-plus"></span> Novo pedido</button> 
	</h1>	
</div>

<!-- Form para pesquisar por data realizada -->
<div class="row" style="margin-bottom: 50px">
	<form class="form-inline">
		<div class="input-group">
			<div class="input-group-addon">Data realizado</div>
			<input type="date" class="form-control" ng-model="pedidoBusca.data">			
		</div>
		<button class="btn btn-primary" ng-click="pesquisarPedido()"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
	</form>
</div>

<!-- Form para filtrar os pedidos -->
<div class="row">
	<form class="form-inline">
		<div class="input-group">
			<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
			<input type="text" class="form-control" style="width: 300px" placeholder="Filtrar por total" ng-model="filtroPedido">
		</div>		
	</form>
</div>
<!-- Fim do form -->

<!-- Tabela com os produtos ja cadastrados -->
<div class="row area-consulta" style="margin-top: 30px">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-1">#</th>
				<th class="col-md-5">Realizado em</th>
				<th class="col-md-3">Total</th>
				<th class="col-md-3">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pedido in pedidos | filter:filtroPedido">
				<td>{{pedido.id}}</td>
				<td>{{pedido.data | date:'dd/MM/yyyy HH:mm'}}</td>
				<td>{{pedido.total | currency:"R$ "}}</td>				
				<td>
					<a class="btn btn-primary" ui-sref="pedidoNovo({id: pedido.id})">Detalhes</a>									
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- Fim da tabela -->