<div class="page-header">
	<h1>Montar Descrição</h1>
	<p>Escolha um template e as informações adicionais</p>
</div>

<!-- Form para cadastrar/alterar e o preview -->
<div class="row">
	<div class="col-md-6">
		<h3>Nova descrição</h3>
		<form>
			<div class="form-group">
				<label for="selectTemplateDescricao">Template</label>
				<select id="selectTemplateDescricao" class="form-control" ng-model="novaDescricao.index" ng-change="mudarTemplate()">
					<option ng-repeat="descricao in descricoes" value="{{$index}}">{{descricao.nome}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputEstampa">Estampa</label>
				<input id="inputEstampa" class="form-control" ng-model="novaDescricao.estampa" placeholder="Nome da estampa, caso necessário">
			</div>
		</form>
		
		<!-- Paleta de cores para selecao -->
		<div class="row">
			<h3>Cores disponíveis
				<a class="btn btn-link" ng-click="limparCores()">Limpar</a>
			</h3>
			<div ng-repeat="cor in cores" style="float: left; margin-right: 10px;">
				<div class="cor-circulo" 
					style="cursor: pointer; background-color: #{{cor.codigo}}" 
					ng-click="toggleCor(cor)"
					title="{{cor.nome}}"
					ng-class="{'cor-selecionada' : cor.selecionada}">
				</div>
			</div>
		</div>
		<!-- Fim da paleta -->
		
	</div>
	
	
	<div class="col-md-6">		
		<h3>Como vai ficar
			<a class="btn btn-link copiar" style="margin-right: 10px" data-toggle="tooltip" title="Copiar" data-clipboard-target="#templateDescricao">
				<span class="glyphicon glyphicon-copy"></span> Copiar
			</a>
		</h3>
		<div id="templateDescricao">	
			<div ng-bind-html="novaDescricao.template.replace('|*ESTAMPA*|', novaDescricao.estampa)"></div>
			<div ng-repeat="cor in coresSelecionadas" style="margin-right: 10px; width: 100%;">
				<div class="cor-circulo" style="border: 2px #f8f8f8 solid; background-color: #{{cor.codigo}}"></div>
				<span style="vertical-align: 25px;">{{cor.nome}}</span>
			</div>
		</div>		
	</div>
</div>
<!-- Fim do Form -->