<div class="page-header" id="editarNota">
	<h1>
		Notas 
		<span class="badge">{{notas.length}}</span> 
		<button class="btn btn-link" data-toggle="modal" data-target="#edicaoNota" ng-click="limparNota()"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
	</h1>
	Coloque aqui anotações rápidas, como respostas prontas para perguntas comuns
</div>

<!-- Modal para cadastrar e editar uma nota -->
<div class="modal fade" id="edicaoNota" tabindex="-1" role="dialog" aria-labelbody="edicaoNotaLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="edicaoNotaLabel">{{novaNota.id ? "Editar Nota" : "Nova Nota"}}</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<input type="text" class="form-control" style="font-weight: bold;" placeholder="Título" ng-model="novaNota.titulo" maxlength="50" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="10" placeholder="Criar uma nota..." ng-model="novaNota.descricao" maxlength="600" required></textarea>
					</div>
					Caracteres restantes: {{600 - novaNota.descricao.length}}			
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" style="width: 50px; margin-right: 10px" ng-click="limparNota()" data-toggle="tooltip" title="Limpar Nota"><span class="glyphicon glyphicon-trash"></span></button>
				<button class="btn btn-primary" style="margin-right: 10px" 
					ng-click="salvarNota()" 
					ng-disabled="!novaNota.titulo || !novaNota.descricao">
					<span class="glyphicon glyphicon-ok"></span> Salvar
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Fim do modal -->

<!-- Lista de notas já cadastradas -->
<div class="row" ng-repeat="nota in notas">
	<!-- Confirmação de exclusão da nota -->
	<div id="aviso{{nota.id}}" class="panel-collapse collapse">  				
  		<strong>Tem certeza?</strong> A nota "{{nota.titulo}}" será deletada
  		<a class="btn btn-link" ng-click="deletarNota($index)">
			Deletar
		</a>
		<a class="btn btn-link" data-toggle="collapse" data-target="#aviso{{nota.id}}">
			<strong>Melhor não</strong>
		</a>
	</div>
	<!-- Nota -->
	<div class="well" style="background-color: {{nota.cor}};">		
			<h3>{{nota.titulo}}</h3>			
			<div id="{{'nota' + nota.id}}" ng-bind-html="nota.descricao"></div>
			<div>
				<a class="btn btn-link copiar" style="margin-right: 10px" data-toggle="tooltip" title="Copiar" data-clipboard-target="{{'#nota' + nota.id}}">
					<span class="glyphicon glyphicon-copy"></span> Copiar
				</a>
				<a class="btn btn-link" style="margin-right: 10px" title="Editar" data-toggle="modal" data-target="#edicaoNota" ng-click="editarNota(nota)">
					<span class="glyphicon glyphicon-pencil"></span> Editar
				</a>
				<a class="btn btn-link" style="margin-right: 10px" title="Deletar" data-toggle="collapse" data-target="#aviso{{nota.id}}">
					<span class="glyphicon glyphicon-remove"></span> Deletar
				</a>				
			</div>
			
	</div>		
</div>
<!-- Fim da lista de notas -->