.copiar {}

.enderecador {
	margin-bottom: 30px;
}

.enderecador > p{	
	position: absolute;
	width: 400px;
	text-align: justify;
	font-size: 15px;
	padding-top: 80px;
	padding-left: 20px;	
	z-index: 2;
}

textarea {
	resize: vertical;
}

.cor-circulo {
	display: inline-block;
	border-radius:50%; 
	height: 50px;
	width: 50px;
	margin: 5px;
	border: 1px #000 solid;
}

.cor-selecionada {
	border-radius:0;
/* 	border: 8px #c700ff solid;	 */
/* 	height: 40px; */
/* 	width: 40px; */
}

.chart {
	width: 100%;
/* 	margin-left: 20px; */
	height: 300px;
}